@import "bootstrap-sprockets";
@import "bootstrap";

a.navbar-brand {
  font-weight: bold;
}

li.list-group-item {
  font-size: 1.25em;
}

span.badge {
  background-color: $gray;

  &:hover {
    background-color: $gray-light;
  }
  a {
	color: #FFF;
	&:hover {
	  text-decoration: none;
	}
  }
}
