%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.btn.btn-default.navbar-btn{ href: "#{new_todo_path}", role: 'button' }
        +
      %a.navbar-brand{ href: "#{root_url}"}
        Rails TODO App

%hr
